.example {
    padding: 20px;
    color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
    .img_responsive {
        display: none;
    }
    .img_responsive_2 {
        display: block;
    }
  }
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: green;}
    .img_responsive_2{
        display: none;
    }
  }
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
    .img_responsive_2 {
        display: none;
    }
 
  } 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
    .img_responsive_2 {
        display: none;
    }
  } 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
    .img_responsive_2 {
        display: none;}
  }